<div class="container">
  <table mat-table [dataSource]="dataSource">
    <caption *ngIf="caption"><h2>{{caption}}</h2></caption>
    <!-- Table Columns -->
    <ng-container *ngFor="let column of headers;let i= index">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let item">{{ item[tableFields[i]] | customDatePipe }}</td>
      </ng-container>
    </ng-container>

    <!-- Actions Column -->
    <ng-container *ngIf="actions" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Actions</th>
      <td mat-cell *matCellDef="let item" style="text-align: center;">
        <button *ngIf="actions.get('update')" mat-icon-button color="primary" matTooltip="Update" (click)="updateItem(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="actions.get('delete')" mat-icon-button color="warn" matTooltip="Delete"  (click)="deleteItem(item)">
          <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="actions.get('details')" mat-icon-button color="accent" matTooltip="Show Details" (click)="showItemDetails(item)">
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Table Header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Table Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
<mat-paginator #paginator [length]="data.length" [pageSize]="8" 
hidePageSize="true" aria-label="Select page" (page)="handlePage($event)">
  
</mat-paginator>
</div>



