<div class="welcome-message">
  <h1>Welcome to my blog!</h1>
</div>

<div class="card-container">
  <mat-card routerLink="/users">
    <img src=".\assets\users.png" alt="User Image" />
    <a routerLink="/users" mat-button>Users</a>
  </mat-card>

  <mat-card routerLink="/posts">
    <img src=".\assets\posts.png" alt="Post Image" />
    <a routerLink="/posts" mat-button>Posts</a>
  </mat-card>

  <mat-card routerLink="/categories">
    <img src=".\assets\categories.jpg" alt="Category Image" />
    <a routerLink="/categories" mat-button>Categories</a>
  </mat-card>

  <mat-card routerLink="/comments">
    <img src=".\assets\comments.png" alt="Comment Image" />
    <a routerLink="/comments" mat-button>Comments</a>
  </mat-card>
</div>
